@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; /* Dark grey background */
}
/* Custom scrollbar for better aesthetics in dark theme */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #2d3748; /* Darker track */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4a5568; /* Dark thumb */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #667080; /* Lighter thumb on hover */
}

button {
    cursor: pointer;
}
  
button:disabled {
  cursor: not-allowed;
}